@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  font-family: "Poppins", sans-serif;
  outline: crimson 1px solid;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
    width: 430px;
}

.screen-1 {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  width: 100%;
}


.screen-1 h3 {
  color: #0077b6;
  font-size: 16px;
  font-weight: 500;
}

.onboarding-image {
  margin-top: 163px;
  padding-left: 60px;
  padding-right: 60px;
}


.screen-1 h1 {
  font-size: 18px; 
  font-weight: 700;
  color: #000000;
}

.screen-1 p {
    font-weight: 500;
    color: #2f2f2f;
    font-size: 15px;
    text-align: center;
}