@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* outline: red 1px solid; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  transition: background-color 500ms ease-in-out;
}

/* For WebKit Browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #91D9FF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #91D9FF;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #005f99;
}

/* For Firefox */
html,
body {
  scrollbar-width: thin;
  scrollbar-color: #91D9FF #f1f1f1;
}

.student-profile {
  background-color: #fff;
  display: flex;
  max-width: 480px;

  padding-bottom: 13px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  background-color: #0077b6;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 14px 25px;
  z-index: 10;
}



.header-icon {
  aspect-ratio: 1;
  color: #fff;
  font-size: 35px;
  margin: 15px 0 0 12px;
}

.header-content {
  display: flex;
  gap: 19px;
  flex-grow: 1;
  flex-basis: auto;
}

.profile-title {
  color: #fff;
  align-self: end;
  flex-grow: 1;
  font: 400 24px Poppins, sans-serif;
  text-align: center;
}

.header-icons {
  display: flex;
  flex-direction: column;
}

.icon-group {
  display: flex;
  gap: 4px;
}

.icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 25px;
}

.profile-picture {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
  border-radius: 50%;
  align-self: center;
  margin-top: 11px;
}

.profile-card {
  position: absolute;
  top: 50px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;
  display: flex;
  width: 100%;
  max-width: 381px;
  height: 176px;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 19px;
  border: 3px solid #0077b6;
  margin-top: 90px;
}

.profile-info {
  display: flex;
  gap: 7px;
  color: #000;
  font: 400 12px Poppins, sans-serif;
}

.profile-card p {
  margin-bottom: 0;
}

.profile-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 60px;
  border-radius: 50%;
  align-self: start;
  margin-top: 7px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.student-name {
  font-size: 18px;
  font-weight: 500;
  align-self: stretch;
}

.student-id {
  color: #2f2f2f;
  font-size: 12px;
}

.performance-section {
  display: flex;
  margin-top: 16px;
  gap: 40px 185px;
  color: #000;
  font: 400 12px Poppins, sans-serif;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;
  width: 100%;
  align-items: start;
  justify-content: center;
  padding: 3px 4px;
}

.chart-container hr {
  width: 100%;
  height: 10px;
  background-color: #0077b6;
  margin: 0;
  border-radius: 100px;
  opacity: 100;
  border: none;
}

.chart-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 10px;
  background-color: #0077b6;
  margin: 0;
  border-radius: 100px;
  opacity: 100;
  border: none;
}


.training-title {
  color: #000;
  letter-spacing: 0.48px;
  font: 600 24px Poppins, sans-serif;
  text-align: center;
  width: 100%;
  /* Span the full width of its container */
  margin: 0 auto;
  /* Center the element horizontally */
}
.training-module {
  border-radius: 16px;
  background-color: #0077b6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-top: 15px;
  width: 100%;
  max-width: 382px;
  flex-direction: column;
  color: #fff;
  padding: 9px 14px;
  font: 400 12px Poppins, sans-serif;
}

.module-container {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 100px;
  
}

.btn-container {
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 200px;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  outline: none;
  border: none;
  background-color: #0077b6;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
  color: #fff;
  border-radius: 8px;
    padding: 0.8125rem 2.25rem;
    font-size: 16px;
    margin: 1.25rem 0;
}



/* .button-next {
  background-color: #0077b6;
  border-radius: 16px;
  padding: 0.8125rem 2.25rem;
  font-size: 1.15rem;
  margin: 1.25rem 0;
} */


.button:hover{
  border: #0077b6 1px solid !important;
    background-color: #fff !important;
    color: #0077b6 !important;
}


/* Set border and text color for pagination links */
.pagination .page-link {
  color: #0077b6;
  border-color: #0077b6;
  font-size: 16px;
}

.pagination .page-link:hover {
  color: #ffffff;
  background-color: #0077b6;
  border-color: #0077b6;
}

.pagination .page-item.active .page-link {
  color: #ffffff;
  background-color: #0077b6;
  border-color: #0077b6;
}

/* Remove outline on focus for a cleaner look */
.pagination .page-link:focus {
  box-shadow: none;
}


.navigation {
  position: fixed;
  /* This makes it sticky */
  bottom: 20px;
  /* Stick it at the bottom of the viewport */
  border-radius: 100px;
  aspect-ratio: 5.788;
  margin-top: 229px;
  width: 382px;
  max-width: 100%;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  padding: 20px 30px 16px;
  font: 400 14px Poppins, sans-serif;
  background-color: #0077b6;
  z-index: 1;
  /* Ensure it's on top of other content */
}

.nav-content ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.nav-content li {
  list-style: none;
}

.nav-content i {
  color: #fff;
  font-size: 30px;

}






.sidenav {
  height: 100%;
  width: 350px;
  /* Fixed width for the sidebar */
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -350px;
  /* Initially hidden on the right */
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  /* Smooth transition for sliding */
  padding-top: 60px;
  border-right: #0077b6 2px solid;
  border-radius: 0 16px 16px 0;
}

.sidenav-profile {
  display: flex;
  gap: 7px;
  color: #0077b6;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: start;

}

.sidenav-container {
  display: flex;
  flex-direction: column;
}

.sidenav-container h1 {
  font: 300 16px Poppins, sans-serif;
  margin: 0;
}

.sidenav-container p {
  font: 300 14px Poppins, sans-serif;
  margin-bottom: 10px;
  color: #000;
}

.sidenav-container .profile-link {
  font-size: 14px;
  font-weight: 300;
  padding: 0px;
  text-decoration: none;
  color: #000;
}

.sidenav-container .profile-link:hover {
  color: #0077b6;
}

/* Sidebar links */
.sidenav .link {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #0077b6;
  display: block;
  transition: 0.3s;
}

.sidenav .link:active {
  border-left: #0077b6 5px solid;
}

.sidenav i {
  padding-right: 15px;

}

.sidenav img {
  padding: 8px 8px 8px 20px;
  width: 90px;
  height: 80px;
}

/* Sidebar hover effect */
.sidenav .link:hover {
  background-color: #F5F5F5;
}

.sidenav .settings {
  bottom: 20px;
  position: fixed;
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #0077b6;
  display: block;
}

.profile-line {
  width: 90%;
  /* Adjust the width as needed */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #0077b6;
  /* Style the line as needed */
  border-radius: 50px;
}

.profile-line2 {
  width: 90%;
  /* Adjust the width as needed */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #0077b6;
  /* Style the line as needed */
  border-radius: 50px;
  background-color: #0077b6;
  top: 650px;
}

/* Close button */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  text-decoration: none;
  color: #0077b6;
}

/* Responsive Design for smaller screens */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}